<router-outlet />

<div class="container flex flex-col justify-center gap-3 my-5">
  <!-- AVATAR -->
  <div class="flex gap-3">
    <sng-avatar>
      <img sngAvatarImage src="https://picsum.photos/500" alt="" />
      <div sngAvatarFallback>CN</div>
    </sng-avatar>

    <sng-avatar>
      <img sngAvatarImage src="#" alt="" />
      <div sngAvatarFallback>CN</div>
    </sng-avatar>
  </div>

  <!-- BADGE -->
  <div class="flex gap-3">
    <sng-badge>DEFAULT</sng-badge>
    <sng-badge variant="outline">OUTLINE</sng-badge>
    <sng-badge variant="secondary">SECONDARY</sng-badge>
    <sng-badge variant="destructive">DESTRUCTIVE</sng-badge>
  </div>

  <!-- BUTTON -->
  <div class="flex gap-3">
    <button sngBtn>DEFAULT</button>
    <button sngBtn variant="outline">OUTLINE</button>
    <button sngBtn variant="secondary">SECONDARY</button>
    <button sngBtn variant="destructive">DESTRUCTIVE</button>
    <button sngBtn variant="ghost">GHOST</button>
    <button sngBtn variant="link">LINK</button>
    <button sngBtn size="icon">ICON</button>
    <button sngBtn size="lg">LG</button>
    <button sngBtn size="sm">SM</button>
  </div>

  <!-- ALERTS -->
  <div class="space-y-3">
    <sng-alert>
      <sng-alert-title> Check Out All The New Work </sng-alert-title>
      <sng-alert-description> Totally Rad Yo! </sng-alert-description>
    </sng-alert>

    <sng-alert variant="destructive">
      <sng-alert-title>Uh-Oh!</sng-alert-title>
      <sng-alert-description> Something went wrong yo! </sng-alert-description>
    </sng-alert>
  </div>

  <!-- ASPECT RATIO -->
  <div class="w-1/2 m-auto">
    <sng-aspect-ratio [ratio]="16 / 9">
      <div class="flex items-center justify-center rounded bg-slate-400">
        <span class="text-gray-100">16/9 Ratio</span>
      </div>
    </sng-aspect-ratio>
  </div>
  <div class="w-1/2 m-auto">
    <sng-aspect-ratio [ratio]="4 / 3">
      <div class="flex items-center justify-center rounded bg-slate-400">
        <span class="text-gray-100">4/3 Ratio</span>
      </div>
    </sng-aspect-ratio>
  </div>
</div>
